<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice</title>
    <link href="style.css" type="text/css" media="all" rel="stylesheet"/>
</head>
<body>
<header>
    <table class="table-head">
        <tr>
            <td>
                <img class="logo" th:src="${'data:image/jpeg;base64,' + logo}" alt="logo"/>
                <div>
                    <h1 th:text="${invoice.account.name}"></h1>
                </div>
            </td>
            <td class="text-right">
                <img class="code" th:src="${'data:image/jpeg;base64,' + qrcode}" alt="QR-code"/>
                <div>
                    <a th:href="${invoice.paymentUrl}">Payez ici</a>
                    <p>Date limite de paiement : <span th:text="${invoice.toPayAt}"></span></p>
                </div>
            </td>
        </tr>
    </table>
    <table class="table-head">
        <tr>
            <td>
                <p><strong>Facture n° : REF XXXXX</strong></p>
                <p class="muted">Date de facturation : XX/XX/XXXX</p>
            </td>
            <td class="text-right">
                <p><strong
                        th:text="${invoice.invoiceCustomer.name}"></strong>
                </p>
                <p class="muted"><span
                        th:text="${invoice.invoiceCustomer.address}"></span>
                </p>
                <p class="muted"><span
                        th:text="${invoice.invoiceCustomer.phone}"></span>
                </p>
                <p class="muted"><span
                        th:text="${invoice.invoiceCustomer.email}"></span>
                </p>
                <p class="muted"><span
                        th:text="${invoice.invoiceCustomer.website}"></span>
                </p>
            </td>
        </tr>
    </table>
</header>
<section>
    <table>
        <thead class="text-center">
        <th>Description</th>
        <th>Quantite</th>
        <th>Prix unitaire</th>
        <th>TVA</th>
        <th>Montant HT</th>
        <th>Montant TTC</th>
        </thead>
        <tbody>
        <th:block th:each="product : ${invoice.products}">
            <tr>
                <td class="text-left"><span th:text="${product.description}"></span></td>
                <td class="text-center"><span th:text="${product.quantity}"></span></td>
                <td class="text-center"><span th:text="${product.unitPrice}"></span></td>
                <td class="text-center"><span th:text="${product.vatPercent}"></span></td>
                <td class="text-center"><span th:text="${product.totalWithoutVat}"></span></td>
                <td class="text-center"><span th:text="${product.totalPriceWithVat}"></span></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div class="amount-section">
        <div>
            <p><strong>Total HT</strong> : <span th:text="${invoice.totalPriceWithoutVat}"></span> €
            </p>
            <p><strong>Total TVA</strong> : <span th:text="${invoice.totalVat}"></span> %</p>
            <p><strong>Total TTC à régler</strong> : <span
                    th:text="${invoice.totalPriceWithVat}"></span> €</p>
        </div>
    </div>
</section>
<footer>
    <p><strong>Bien à vous et merci pour votre confiance.</strong>
        <span class="muted">
            La facture est payable à réception
            Des pénalités correspondant à trois fois le taux de l’intérêt légal seront applicables en
            l’absence ou en cas de retard de paiement. Les pénalités de
            retard sont exigibles sans qu'un rappel soit nécessaire. Une indemnité forfaitaire de 40 €
            pour frais de recouvrement sera appliquée en cas de
            retard de paiement conformément aux articles L 441-3 et L 441-6 du code de commerce.
            Pas d'escompte en cas de paiement anticipé
        </span></p>
    <div>
        <p th:text="${invoice.account.iban}"></p>
    </div>
    <hr/>
    <p class="muted">BPartners SASU - Capital XXXXXXXXX</p>
    <div class="footer-info">
        <div class="content-left muted">
            <p>Siege social : Rue XXX PARIS</p>
            <p>Tel : + 33 05 12 456 78</p>
        </div>
        <div class="content-right muted">
            <p>Email : example@email.com</p>
            <p>Website : www.website.com</p>
        </div>
    </div>
</footer>
</body>
</html>