<html>
<head>
    <title>Email</title>
    <style>
        body {
            font-family: Helvetica, serif;
        }
    </style>
</head>
<body>
<section>
    <h2>Luc Artisan</h2>
    <p>Bonjour,</p>
    <p>Ci-joint votre devis enregistré à la référence D2022_12_02.</p>
    <p>Dans l'attente de vous lire,</p>
    <p>Bien à vous</p>
    <footer>
        <p>
            <strong>Luc Artisan</strong><br>
            Email: luc.artisan@gmail.com<br>
            Tél: 06 12 34 56 78
        </p>
    </footer>
</section>

</body>
</html>