<html xmlns:th="http://www.thymeleaf.org">
    <body style="font-family: 'Gill Sans'">
        <h2 style=color:#8d2158;>BPartners</h2>
        <h3 style=color:#cccccc;>
            l'assistant bancaire qui accélère la croissance et les encaissements des artisans.
        </h3>
        <p>Bonjour,</p>
        <p>
            Retrouvez-ci joint votre
            <span th:text="' '+ ${type} +'.'">
            </span>
        </p>
        <p>Bien à vous et merci pour votre confiance.</p>
    </body>
</html>