<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        * {
            font-family: Arial, Verdana, Georgia, and Courier, serif;
            color: black;
        }

        h1, section, footer {
            margin: 2vh 2vw;
        }

        h1 {
            font-size: 1.2em;
            font-weight: 500;
        }

        .signature {
            margin-top: 24px;
        }

        .signature-separator {
            margin: 24px 0 8px 0;
        }
    </style>
</head>
<body>
<main>
    <h1>
        Bonjour
        <span th:text="${accountHolderEntity.name}"></span> ,
    </h1>
    <section>
        Nous avons quelques prospects qu'il faudrait contacter au plus vite.<br/>
        Ils vous attendent sur votre espace
        <a href="https://birdia.fr">BIRDIA</a>
    </section>
</main>
<footer>
    <div class="signature">
        <div class="signature-separator">--</div>
        <div>L'équipe BIRDIA</div>
        <div>BIRDIA - Valorisation d'images aériennes par IA</div>
        <div>14 rue Soleillet, 75020, Paris</div>
        <div>06 68 62 48 36</div>
        <div><a href="https://www.birdia.fr/">https://www.birdia.fr/</a></div>
    </div>
</footer>
</body>
</html>