<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        * {
            font-family: Arial, Verdana, Georgia, and Courier, serif;
            color: black;
        }

        h1, section, footer {
            margin: 2vh 2vw;
        }

        h1 {
            font-size: 1.2em;
            font-weight: 500;
        }

        .bpartners-color {
            color: #7A003D !important;
        }

        .underline {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<main>
    <h1>
        Bonjour
        <span th:text="${accountHolderEntity.name}"></span> ,
    </h1>
    <section>
        Nous avons quelques prospects qu'il faudrait contacter au plus vite.<br/>
        Ils vous attendent sur votre espace
        <a href="https://bpartners.app" class="link bpartners-color">B.Partners</a>
    </section>
</main>
<footer>
    <span class="bpartners-color">B.Partners</span> ,<br/>
    L'assistant intelligent qui <b>accélère la croissance des artisans et indépendants
    français.</b>
</footer>
</body>
</html>