@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    margin: 5%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-size: 12px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 5%;
    font-size: 12px;
}

.logo {
    width: 100px;
    height: 50px;
}

.code {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
}

.amount-section {
    display: flex;
    justify-content: flex-end;
}

.amount-section p {
    border: 1px solid black;
    padding: 4px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

th {
    background-color: #901448;
    color: white;
}

th, td {
    padding: 4px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}