body {
    margin: 2% 5%;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Helvetica, serif;
}

.table-head {
    width: 100%;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.logo {
    width: 50px;
    height: 50px;
}

.code {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
}


.amount-section p {
    border: 1px solid black;
    padding: 4px 8px;
    width: 150px;
    margin-left: 73%;
}

th {
    background-color: #901448;
    color: white;
}

th, td {
    padding: 4px;
}

.content-left {
    float: left;
}

.content-right {
    float: right;
}

.muted {
    color: grey;
}

.unstyled {
    list-style: none;
}