name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

  workflow_call:

env:
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    env:
      AWS_REGION: eu-west-3

    steps:
      - uses: actions/checkout@v4.1.6
      - uses: hei-school/aws-credentials-setter@v1.0.3
        with:
          secrets: ${{ toJSON(secrets) }}
          region: ${{ env.AWS_REGION }}

      - uses: actions/setup-java@v4.2.1
        with:
          java-version: '21'
          distribution: 'corretto'
      - run: chmod +x gradlew
      - run: ./gradlew test

      - name: Cache SonarCloud packages
        uses: actions/cache@v2
        with:
          path: ~/.sonar/cache
          key: sonar-${{ runner.os }}-${{ hashFiles('build.gradle') }}
          restore-keys: sonar-${{ runner.os }}-

      - name: Code quality and coverage analysis
        run: |
         ./gradlew sonarqube --info \
         -Dsonar.host.url=https://sonarcloud.io \
         -Dsonar.organization=${{ vars.SONAR_ORG }} \
         -Dsonar.projectKey=${{ vars.SONAR_PJ_KEY }} \
         -Dsonar.projectName=${{ vars.SONAR_PJ_NAME }} \
         -Dsonar.coverage.jacoco.xmlReportPaths=build/reports/jacoco/test/jacocoTestReport.xml \
         -Dsonar.java.checkstyle.reportPaths=build/reports/checkstyle/main.xml,build/reports/checkstyle/test.xml
 

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4.1.6
      - uses: actions/setup-java@v4.2.1
        with:
          java-version: '21'
          distribution: 'corretto'

      - run: chmod +x format.sh
      - run: ./format.sh && git diff --exit-code